<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>

    <title>UniService</title>
    <meta name="description" content=""/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#fff"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fff"/>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff"/>

    <link rel="stylesheet" th:href="@{/css/main.min.css}"/>
</head>

<body>

<div class="content">

    <header>
        <nav class="header-container">
            <a th:href="@{/admin/index}" class="logo main-logo">UniService</a>

            <a href="#menu" id="btn-menu" class="hamburger hamburger--spring" type="button" hidden = "true">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </a>

            <div id="menu">
                <ul>
                    <li><a href="#"><i class="fas fa-users"></i>Пользователи</a>
                        <ul>
                            <li><a th:href="@{/admin/students}">Студенты</a></li>
                            <li><a th:href="@{/admin/cooperators}">Сотрудники</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/admin/events}"><i class="fas fa-bell"></i>Мероприятия</a></li>
                    <li><a th:href="@{/admin/organizations}"><i class="fas fa-list-alt"></i>Организации</a></li>
                    <li><a href="#"><i class="fas fa-edit"></i>Баллы</a></li>
                    <li class="profile"><a href="#"><i class="fas fa-user-circle"></i>Профиль</a>
                        <ul>
                            <li><a href="#">Настройки</a></li>
                            <li><a th:href="@{/logout}">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                    <div class="filter-data">
                        <div class="select-box">
                            <form action="#" method="post">
                                <div class="select-item">
                                    <h4>Название фильтра</h4>
                                    <div class="select">
                                        <select title="">
                                            <option>Не выбрано</option>
                                            <option>Фильтр 1</option>
                                            <option>Фильтр 2</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9 right-col">
                    <div class="data-list">
                        <div class="title-data">
                            <h1 class="h1">Организации</h1>
                            <div class="sort-select title-sort">
                                <select title="">
                                    <option>Сортировать</option>
                                    <option>По названию А-Я</option>
                                    <option>По названию Я-А</option>
                                </select>
                                <div class="select__arrow"></div>
                            </div>
                        </div>

                        <div class="list-item" th:each="organization : ${pageWrapper.content}">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <img class="user-picture center-block" th:src="@{/img/default-user.png}" alt="User"/>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                    <div class="user-data">
                                        <div class="user-title">
                                            <div class="user-name">
                                                <a href="#">
                                                    <span th:text="${organization.title}">Название</span>
                                                </a>
                                            </div>
                                            <a class="edit" href="#"><i class="fas fa-edit"></i> Редактировать</a>
                                        </div>
                                        <div class="user-info">
                                            <p th:inline = "text"><span>Тип организации:</span>[[${organization.type}}]]</p>
                                            <p th:inline = "text"><span>Руководитель:</span>[[${organization.headStudents.iterator().next().id}}]]</p>
                                            <p th:inline = "text"><span>Описание:</span>[[${organization.description}}]]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-text">2018, UniService Team
            <div class="social-media">
                <a href="https://vk.com/itis_kpfu"><i class="fab fa-vk fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/js/scripts.min.js}"></script>
</body>
</html>
