<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>

    <title>UniService</title>
    <meta name="description" content=""/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#fff"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fff"/>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff"/>

    <link rel="stylesheet" th:href="@{/css/main.min.css}"/>
</head>
<body>

<div class="content">

    <header>
        <nav class="header-container">
            <a class="logo main-logo">UniService</a>
            <ul>
                <li><a href="#"><i class="fas fa-users"></i>Пользователи</a>
                    <ul>
                        <li><a href="#">Студенты</a></li>
                        <li><a href="#">Сотрудники</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fas fa-bell"></i>Мероприятия</a></li>
                <li><a href="#"><i class="fas fa-list-alt"></i>Организации</a></li>
                <li><a href="#"><i class="fas fa-edit"></i>Баллы</a></li>
                <li class="profile"><a href="#"><i class="fas fa-user-circle"></i>Профиль</a>
                    <ul>
                        <li><a href="#">Настройки</a></li>
                        <li><a th:href="@{/logout}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div id="demo">
                    <!-- panel -->
                    <div class="jplist-panel">
                        <div class="col-md-3">
                            <div class="filter-data">
                                <div class="select-box">
                                    <!-- Select DropDown Control -->
                                    <h4>Обучение</h4>
                                    <div class="select">
                                        <select
                                                class="jplist-select"
                                                data-control-type="filter-select"
                                                data-control-name="category-filter"
                                                data-control-action="filter">

                                            <option data-path="default">Не выбрано</option>
                                            <option data-path=".baccalaureate">Бакавлариат</option>
                                            <option data-path=".magistracy">Магистратура</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>

                                    <h4>Курс</h4>
                                    <div class="select">
                                        <select
                                                class="jplist-select"
                                                data-control-type="filter-select"
                                                data-control-name="category-filter"
                                                data-control-action="filter">

                                            <option data-path="default">Не выбрано</option>
                                            <option data-path=".1">1 курс</option>
                                            <option data-path=".2">2 курс</option>
                                            <option data-path=".3">3 курс</option>
                                            <option data-path=".4">4 курс</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>

                                    <h4>Группа</h4>
                                    <div class="select">
                                        <select
                                                class="jplist-select"
                                                data-control-type="filter-select"
                                                data-control-name="category-filter"
                                                data-control-action="filter">

                                            <option data-path="default">Не выбрано</option>
                                            <option data-path=".11-601">11-601</option>
                                            <option data-path=".11-602">11-602</option>
                                            <option data-path=".11-603">11-603</option>
                                            <option data-path=".11-604">11-604</option>
                                            <option data-path=".11-605">11-605</option>
                                            <option data-path=".11-606">11-606</option>
                                            <option data-path=".11-607">11-607</option>
                                            <option data-path=".11-608">11-608</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>

                                    <h4>Организация</h4>
                                    <div class="select">
                                        <select
                                                class="jplist-select"
                                                data-control-type="filter-select"
                                                data-control-name="category-filter"
                                                data-control-action="filter">
                                            <option data-path="default">Не выбрано</option>
                                            <option data-path=".itis-music">ITIS Music</option>
                                            <option data-path=".itis-dance">ITIS Dance</option>
                                            <option data-path=".itis-theatre">Театр</option>
                                        </select>
                                        <div class="select__arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 right-col">
                            <div class="data-list">

                                <h1 class="h1">Студенты</h1>
                                <div class="list">

                                    <!-- item 1 -->
                                    <div class="list-item">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="user-picture" th:src="@{/img/default-user.png}" alt="User"/>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="user-data">
                                                    <div class="user-title">
                                                        <div class="name">Фамилия Имя Отчество</div>
                                                        <a class="edit" href="#"><i class="fas fa-edit"></i> Редактировать</a>
                                                    </div>
                                                    <div class="study"><span>Обучение:</span><div class="baccalaureate">Бакалавриат</div></div>
                                                    <div class="course"><span>Курс:</span><div class="2">2</div></div>
                                                    <div class="group"><span>Группа:</span><div class="11-602">11-602</div></div>
                                                    <div class="organization"><span>Организация:</span><div class="itis-music">Itis Music</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- item 2 -->
                                    <div class="list-item">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="user-picture" th:src="@{/img/default-user.png}" alt="User"/>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="user-data">
                                                    <div class="user-title">
                                                        <div class="name">Фамилия Имя Отчество</div>
                                                        <a class="edit" href="#"><i class="fas fa-edit"></i> Редактировать</a>
                                                    </div>
                                                    <div class="study"><span>Обучение:</span><div class="baccalaureate">Бакалавриат</div></div>
                                                    <div class="course"><span>Курс:</span><div class="2">2</div></div>
                                                    <div class="group"><span>Группа:</span><div class="11-603">11-603</div></div>
                                                    <div class="organization"><span>Организация:</span><div class="itis-dance">Itis Dance</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-item">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="user-picture" th:src="@{/img/default-user.png}" alt="User"/>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="user-data">
                                                    <div class="user-title">
                                                        <div class="name">Фамилия Имя Отчество</div>
                                                        <a class="edit" href="#"><i class="fas fa-edit"></i> Редактировать</a>
                                                    </div>
                                                    <div class="study"><span>Обучение:</span><div class="baccalaureate">Бакалавриат</div></div>
                                                    <div class="course"><span>Курс:</span><div class="2">2</div></div>
                                                    <div class="group"><span>Группа:</span><div class="11-602">11-602</div></div>
                                                    <div class="organization"><span>Организация:</span><div class="itis-dance">Itis Dance</div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="jplist-no-results">
                                    <p>Нет подходящих результатов</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="footer-container">
        <div class="footer-text">2018, UniService Team
            <div class="social-media">
                <a href="https://vk.com/itis_kpfu"><i class="fab fa-vk fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{js/scripts.min.js}"></script>

</body>
</html>