<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>

    <title>UniService</title>
    <meta name="description" content=""/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#fff"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fff"/>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff"/>

    <link rel="stylesheet" th:href="@{/css/main.min.css(v=${v})}"/>
</head>

<body>

<div class="content">

    <header>
        <nav class="header-container">
            <a th:href="@{/admin/index}" class="logo main-logo">UniService</a>

            <a href="#menu" id="btn-menu" class="hamburger hamburger--spring" type="button" hidden = "true">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </a>

            <div id="menu">
                <ul>
                    <li><a href="#"><i class="fas fa-users"></i>Пользователи</a>
                        <ul>
                            <li><a th:href="@{/admin/students}">Студенты</a></li>
                            <li><a th:href="@{/admin/cooperators}">Сотрудники</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/admin/events}"><i class="fas fa-bell"></i>Мероприятия</a></li>
                    <li><a th:href="@{/admin/organizations}"><i class="fas fa-list-alt"></i>Организации</a></li>
                    <li><a href="#"><i class="fas fa-edit"></i>Баллы</a></li>
                    <li class="profile"><a href="#"><i class="fas fa-user-circle"></i>Профиль</a>
                        <ul>
                            <li><a href="#">Настройки</a></li>
                            <li><a th:href="@{/logout}">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="error-message">
                    <h1>404</h1>
                    <!--<h2 th:text="${error}">Ошибка</h2>-->
                    <h2>К сожалению, страница не найдена</h2>
                    <!--<h2 th:text="${#dates.format(timestamp, 'dd.MMM.yyyy HH:mm:ssss')}">Дата</h2>-->
                    <a th:href="@{/admin/index}">Вернуться на главную страницу <span><i class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-text">2018, UniService Team
            <div class="social-media">
                <a href="https://vk.com/itis_kpfu"><i class="fab fa-vk fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/js/scripts.min.js(v=${v})}"></script>
</body>
</html>
