@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

    .panel
        padding: 20px 80px
    .main-content
        width: 95%
    .header-container
        width: 90%
    ul
        a
            font-size: 12px

    .select-box
        h4
            font-size: 15px
    .select, .sort-select
        select
            font-size: 13px
            height: 35px
            padding: 6px

    .select__arrow
        top: 16px
        right: 12px
        border-width: 6px 4px 0 4px

    .title-data
        .h1
            font-size: 24px

    .user-picture
            width: 110px
            height: auto

    .user-data
        font-size: 13px
        .user-title
            .user-name
                font-size: 17px
    .footer-text
        font-size: 14px



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

    .main-content
        width: 95%
    .header-container
        width: 90%
    ul
        a
            font-size: 10px

    .select-box
        h4
            font-size: 14px
    .select, .sort-select
        select
            font-size: 11px
            height: 30px
            padding: 5px

    .select__arrow
        top: 13px
        right: 10px
        border-width: 6px 4px 0 4px

    .title-data
        .h1
            font-size: 18px

    .user-picture
        width: 95px
        height: auto

    .user-data
        font-size: 11px
        .user-title
            .user-name
                font-size: 14px
    .footer-text
        font-size: 12px
    .list-item
        .row
            .col-sm-3
                width: 22%
            .col-sm-9
                width: 78%


@media only screen and (min-width: 769px)
    #mm-menu
        display: none !important


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    #menu
        display: none !important
    #btn-menu
        display: block !important

    .main-content
        width: 98%
    .header-container
        width: 92%

    .panel
        padding: 20px 70px
        font-size: 14px
        .welcome
            .h1
                font-size: 25px
    .input-box
        span
            margin-top: -28px
    .footer-container
        .footer-text
            font-size: 10px

    button
        font-size: 11px
        padding: 10px 35px

    .title-data
        .h1
            font-size: 16px

    .user-picture
        width: 80px
        height: auto

    .user-data
        font-size: 9px
        .user-title
            .user-name
                font-size: 12px

    .select-box
        h4
            font-size: 11px
            margin-bottom: 0
    .select, .sort-select
        margin-bottom: 10px
        select
            font-size: 9px
            height: 20px
            padding: 3px

    .select__arrow
        top: 13px
        right: 10px
        border-width: 4px 3px 0 3px
    .filter-data
        padding: 13px
    .hamburger-box
        width: 28px
        .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
            width: 28px
    .logo
        font-size: 20px
        width: 20%

    .pagination
        li
            .pagination__number, .pagination__control
                font-size: 9px

@media only screen and (max-width : 555px)
    .logo
        font-size: 22px
        width: 28%

    .col-xs-3, .col-xs-9
        width: 100%
    .col-xs-3
        margin-bottom: 10px
    .select-item
        width: 45%
        display: inline-block
        margin-left: 10px

    .social-media a
        font-size: 9px
        height: 22px
        width: 22px
        line-height: 24px
    .footer-container
        width: 85%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .panel
        padding: 20px 40px
        font-size: 12px
        .welcome
            .h1
                font-size: 20px
            p
                font-size: 14px
        .input-box
            span
                margin-top: -26px

@media only screen and (max-width : 425px)
    .logo
        font-size: 20px
        width: 40%

    .select-item
        margin-left: 5px

    .title-data
        .h1
            font-size: 16px

    .user-picture
        width: 55px
        height: auto

    .user-data
        font-size: 7px
        .user-title
            .user-name
                font-size: 9px
    .list-item
        padding: 8px

    .sort-select
        width: 130px
        padding: 3px 0
        select
            width: 130px
            float: right

    .pagination
        li
            .pagination__number, .pagination__control
                font-size: 7px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    .panel
        padding: 20px 20px
        font-size: 10px
        .welcome
            .h1
                font-size: 15px
    .input-box
        span
            margin-top: -26px
    button
        font-size: 8px
        padding: 10px 35px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

