@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

html, body
	height: 100%

body
    font-size: 16px
    min-width: 320px
    line-height: 1.65
    position: relative
    font-family: $default-font
    margin:  0
    overflow-x: hidden
    background-color: #f4f8f2

.content
    min-height: 100%
    margin-bottom: -70px
    &:after
        content: ""
        display: block
        height: 70px

header
    box-shadow: 0 2px 10px 0 #ecf0f1
    background-color: #ffffff

.header-container
    width: 80%
    padding: 20px 0
    margin: 0 auto
    text-align: center

footer
    background-color: #122F3B
    margin-top: 20px

.footer-container
    height: 50px
    text-align: center
    margin: 0 auto
    width: 80%
    .footer-text
        padding: 10px 0
        color: #b4b4b4
        font-size: 1em


.logo
    font-size: 28px
    background: linear-gradient(90deg, #10B2DC 40%, #2CD3C8 50%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-weight: 400
    .top-logo
        display: block
        margin: 0 auto

.panel
    background-color: #ffffff
    margin:
        top: 25px
    padding: 20px 100px
    text-align: center
    box-shadow: 0 3px 15px 0 #e6eaeb

.welcome
    .h1
        font-weight: lighter
    p
        color: #8b8b8b
        font-weight: lighter

.input-box
    padding: 10px 0
    position: relative
    input[type="text"], input[type="password"]
        width: 100%
        border: 1px solid #dddddd
        font-size: 0.95em
        padding: 5px 5px 5px 35px
        color: #333333
        &:focus
            outline-color: #23527c
            color: #333333
    span
        position: relative
        float: left
        z-index: 2
        margin-left: 10px
        margin-top: -30px
        color: #23527c
    .remember-me
        float: left
        margin-bottom: 20px
        font-size: 0.9em
        color: #8b8b8b
    input[type="checkbox"]
        width: 15px
        height: 15px
        top: 3px
        position: relative

button
    display: inline-block
    border: none
    color: #fff
    text-decoration: none
    background-color: #33B0DA
    padding: 15px 45px
    font-size: 13px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    width: 100%
    transition: background-color .1s ease
    &::after
        transition: background-color .2s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 100%
        background-color: darken(#33B0DA, 50%)
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &:focus, &:hover
        text-decoration: none
        color: #fff
    &:hover
        background-color: lighten(#33B0DA, 5%)
        &::after
            opacity: .22
    &:active
        background-color: darken(#33B0DA, 5%)
        &::after
            opacity: .32

.alert
    margin: 10px 0
    padding: 10px
    background-color: rgba(#e74c3c, .6)
    font-size: 13px
    color: #ffffff
    p
        margin: 0

.social-media
    float: right
    a
        font-size: 13px
        color: #2c2c2c
        display: block
        background-color: rgba(#fff, .2)
        height: 30px
        line-height: 34px
        text-align: center
        width: 30px
        border-radius: 10em
        transition: background-color .25s ease


nav
	float: right
	ul
		margin: 0
		padding: 0
		list-style: none
	li
		display: inline-block
		margin-left: 70px
		padding-top: 23px
		position: relative
	a
		color: #444
		text-decoration: none
		text-transform: uppercase
		font-size: 14px

		&:hover
			color: #000
			text-decoration: none

			&::before
				width: 100%

		&::before
			content: ''
			display: block
			height: 5px
			background-color: #444
			position: absolute
			top: 0
			width: 0
			transition: all ease-in-out 250ms


@import "media" // Всегда в конце
