@import "fonts"
@import "libs"
@import "vars"

*
    margin: 0

html, body
	height: 100%

body
    font-size: 16px
    min-width: 320px
    line-height: 1.65
    position: relative
    font-family: $default-font
    margin:  0
    overflow-x: hidden
    background-color: #f4f8f2

.content
    min-height: 100%
    /* высота footer */
    margin-bottom: -50px
    &:after
        content: ""
        display: block
        height: 50px

/*     шапка        */

header
    box-shadow: 0 2px 10px 0 #ecf0f1
    background-color: #ffffff
    height: 60px

.header-container
    width: 80%
    margin: 0 auto
    text-align: center
    line-height: 60px

.logo
    font-size: 28px
    background: linear-gradient(90deg, #10B2DC 40%, #2CD3C8 50%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-weight: 400
    width: 25%

.main-logo
    float: left

ul
    margin: 0 auto
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    ul
        display: none
    li
        display: inline-block
        //margin: 0 35px
        padding: 0
        position: relative
        &:hover
            ul
                display: block
                position: absolute
                background-color: #ffffff
                box-shadow: 0 2px 10px 0 #ecf0f1
                padding: 0 25px
                z-index: 2
                margin:
                    top: 1px
                li
                    display: block
                    margin: 0
                    padding: 0
                    float: left
                    a
                        &:hover
                            text-decoration: none
                            color: $dark-accent-blue

    a
        color: #444
        text-decoration: none
        text-transform: uppercase
        font-size: 14px
        &:hover, &:focus
            color: $dark-accent-blue
            text-decoration: none
        i
            font-size: 14px
            margin-right: 7px
    .profile
        margin-right: 5px

#btn-menu
    float: right
    padding: 0

.hamburger-box
    height: 18px
    width: 34px
    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
        height: 3px
        background-color: $dark-accent-blue
        border-radius: 0
        width: 34px

.mm-menu
    font-size: 18px
html.mm-opened
    overflow-y: scroll
.mm-panels > .mm-panel.mm-navbar
    right: -18px
.mm-listview>li:not(.mm-divider):after, .mm-listitem .mm-btn_next:before
    display: none
.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before
    height: 0
.mm-panels> .mm-panel>.mm-navbar+.mm-listview
    margin-top: 30px
.mm-navbars_top
    border: none
    margin-top: 10px

.mm-listview > li > a,
.mm-listview > li > span
    padding-top: 15px
    padding-bottom: 15px
    font-size: 11px
    margin-left: 5px
.mm-navbar a
    font-size: 22px
    font-weight: 400

/*     панель входа       */

.panel
    background-color: #ffffff
    margin:
        top: 25px
    padding: 20px 100px
    text-align: center
    box-shadow: 0 3px 15px 0 #e6eaeb

.welcome
    .h1
        font-weight: lighter
    p
        color: #8b8b8b
        font-weight: lighter

.input-box
    padding: 10px 0
    position: relative
    input[type="text"], input[type="password"]
        width: 100%
        border: 1px solid #dddddd
        font-size: 0.95em
        padding: 5px 5px 5px 35px
        color: #333333
        &:focus
            outline-color: $dark-accent-blue
            color: #333333
    span
        position: relative
        float: left
        z-index: 2
        margin-left: 10px
        margin-top: -30px
        color: $dark-accent-blue
    .remember-me
        float: left
        margin-bottom: 20px
        font-size: 0.9em
        color: #8b8b8b
    input[type="checkbox"]
        width: 15px
        height: 15px
        top: 3px
        position: relative

.enter-button
    display: inline-block
    border: none
    color: #fff
    text-decoration: none
    background-color: $button
    padding: 15px 45px
    font-size: 13px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    width: 100%
    transition: background-color .1s ease
    &::after
        transition: background-color .2s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 100%
        background-color: darken($button, 50%)
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &:focus, &:hover
        text-decoration: none
        color: #fff
    &:hover
        background-color: lighten($button, 5%)
        &::after
            opacity: .22
    &:active
        background-color: darken(#33B0DA, 5%)
        &::after
            opacity: .32
.modal-title
    font-size: 20px
    font-family: $default-font
.modal-button
    margin-top: 20px
    border: none
    color: #fff
    text-decoration: none
    background-color: $button
    padding: 10px 25px
    font-size: 13px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 2px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    width: 200px
    transition: background-color .1s ease
    &::after
        transition: background-color .2s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 200px
        background-color: darken($button, 50%)
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &:focus, &:hover
        text-decoration: none
        color: #fff
    &:hover
        background-color: lighten($button, 5%)
        &::after
            opacity: .22
    &:active
        background-color: darken(#33B0DA, 5%)
        &::after
            opacity: .32

.modal-body
    padding: 20px
.alert
    margin: 10px 0
    padding: 10px
    background-color: rgba(#e74c3c, .6)
    font-size: 13px
    color: #ffffff
    p
        margin: 0

/*     футер        */

.social-media
    float: right
    a
        font-size: 13px
        color: #2c2c2c
        display: block
        background-color: rgba(#fff, .2)
        height: 30px
        line-height: 34px
        text-align: center
        width: 30px
        border-radius: 10em
        transition: background-color .25s ease
footer
    background-color: $footer
.footer-container
    height: 50px
    text-align: center
    margin: 0 auto
    width: 80%
    .footer-text
        padding: 10px 0
        color: #b4b4b4


.main-content
    width: 85%
    margin: 20px auto

/*     левый блок сортировки данных        */

.filter-data
    background-color: #ffffff
    box-shadow: 0 2px 10px 0 #ecf0f1
    padding: 20px

.radio-button
    text-align: left
    vertical-align: top
.control
    font-size: 13px
    position: relative
    display: block
    margin-bottom: 15px
    padding-left: 30px
    cursor: pointer
    input
        position: absolute
        z-index: -1
        opacity: 0

.control_indicator
    position: absolute
    top: 2px
    left: 0
    width: 20px
    height: 20px
    background: #e6e6e6

.control--radio
    .control_indicator
        border-radius: 50%

.control:hover input ~ .control_indicator, .control input:focus ~ .control_indicator
    background: #ccc
.control input:checked ~ .control_indicator
    background: #2aa1c0
.control:hover input:not([disabled]):checked ~ .control_indicator, .control input:checked:focus ~ .control_indicator
    background: #0e647d

.control_indicator:after
    position: absolute
    display: none
    content: ''
.control input:checked ~ .control_indicator:after
    display: block
.control--radio .control_iortndicator:after
    top: 7px
    left: 7px
    width: 6px
    height: 6px
    border-radius: 50%
    background: #fff
.control--radio input:disabled ~ .control__indicator:after
    background: #7b7b7b

/* Select */

.select-box
    h4
        margin-bottom: 10px
        margin-top: 5px

.select
    position: relative
    display: inline-block
    width: 100%
    margin-bottom: 20px
    font-family: $default-font
    select
        font-size: 14px
        font-family: $default-font
        display: inline-block
        width: 100%
        height: 40px
        padding: 8px
        cursor: pointer
        color: #0e0e0e
        border: 1px solid #d6d6d6
        border-radius: 0
        outline: 0
        background: #fff
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        &::-ms-expand
            display: none
        &:hover, &:focus
            color: #000
            background: #fff
            cursor: pointer
        &:disabled
            pointer-events: none
            opacity: .5
        &:disabled ~ .select__arrow, &:focus ~ .select__arrow
            border-top-color: #ccc
.select__arrow
    position: absolute
    top: 18px
    right: 15px
    width: 0
    height: 0
    pointer-events: none
    border-width: 8px 5px 0 5px
    border-style: solid
    border-color: $dark-accent-blue transparent transparent transparent

/*     основной блок данных на странице админа        */

.sort-select
    position: relative
    display: flex
    font-family: $default-font
    box-shadow: 0 2px 10px 0 #ecf0f1
    background: #fff
    padding: 0
    select
        padding: 0 0 0 15px
        width: 200px
        font-size: 14px
        font-family: $default-font
        display: inline-block
        height: 40px
        cursor: pointer
        color: #0e0e0e
        border: none
        border-radius: 0
        outline: 0
        -webkit-appearance: none
        -moz-appearance: none
        &::-ms-expand
            display: none
        &:hover, &:focus
            color: #000
            background: #fff
            cursor: pointer
        &:disabled
            pointer-events: none
            opacity: .5
        &:disabled ~ .select__arrow, &:focus ~ .select__arrow
            border-top-color: #ccc

.title-data
    text-align: center
    .h1
        display: inline-block
        margin: 0
        padding: 0
        font-size: 28px
    .title-sort
        float: left
        margin-bottom: 0
    .search-title
        float: right
        display: inline-block
        margin-bottom: 0
        .search-box
            vertical-align: middle
            white-space: nowrap
            box-shadow: 0 2px 10px 0 #ecf0f1
            font-size: 14px
            input#search
                height: 40px
                background: white
                border: none
                padding: 0 0 0 15px
                &::-webkit-input-placeholder
                    color: #65737e
                &::-moz-placeholder
                    color: #65737e
                &:-ms-input-placeholder
                    color: #65737e
                &:hover, &:active, &:focus
                    outline: none
            button.icon
                border: none
                background: white
                height: 40px
                width: 40px
                color: #4f5b66
                &:hover, &:active, &:focus
                    outline: none
                    background: #fafafa

.user-picture
    width: 120px
    height: auto

.list-item
    margin: 15px 0
    background-color: #ffffff
    box-shadow: 0 2px 10px 0 #ecf0f1
    padding: 20px

.user-data
    font-size: 14px
    margin: 0
    .user-title
        text-align: justify
        .edit
            float: right
            display: inline-block
            &:hover, &:focus, &:active
                text-decoration: none
                outline: none
        .user-name
            display: inline-block
            font-size: 18px
            font-weight: bold
            a
                color: #111
                &:hover, &:focus, &:active
                    text-decoration: none
                    outline: none
                    color: $dark-accent-blue
    .user-info
        display: inline-block
        padding: 5px 0
        vertical-align: middle
        span
            margin-right: 3px
            color: #919191


/* Pagination */
.pagination
    padding-left: 0
    margin-top: 10px
    margin-bottom: 10px
    padding-top: 10px
    list-style: none
    display: block
    align-items: center
    text-align: center

.pagination__number_active
    font-weight: 700

.pagination__control_prev
    margin-left: 4px

.pagination__control_next
    margin-right: 4px

.pagination__number
    display: inline-block
    line-height: 1
    padding: 5px 8px
    border: 2px solid transparent
    border-radius: 2px
    text-decoration: none
    color: inherit
    &:focus
        outline-color: $dark-accent-blue

.pagination__number_active
    border-color: transparent
    background-color:  $dark-accent-blue
    color: #fff
    &:focus, &:active, &:hover
        color: white
.error-message
    text-align: center
    h1
        font-size: 11em
        margin: 20px 0 0
        line-height: 1.2
        color: $dark-accent-blue
    h2
        font-size: 22px
        margin: 0
        font-weight: lighter
        line-height: 1.4
    a
        display: inline-block
        text-decoration: none
        font-weight: lighter
        margin-top: 10px
        font-size: 18px





@import "media" // Всегда в конце
